<div class="mobile-menu-toggle">
    <div class="mobile-menu-icon">
        <span></span>
    </div>
</div>

<div id="modal-menu">
    <ul class="menu-list-items">
        <li class="menu-item">
            <a class="page-link sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blogs</a>
        </li>

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
        {% if node.title != null %}
        {% if node.layout == "page" %}
        <li class="menu-item">
            <a class="page-link {% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>