<div class="sidebar">
  <div class="sidebar-image about hide-for-medium-down {% if page.title == 'About' %}active {% endif %}"></div>
  <div class="sidebar-content">

    <div class="sidebar-about">
      <h1>
        {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="page-link sidebar-nav-item{% if page.url == '/' or page.url == '' %} active{% endif %}" href="{{site.baseurl}}/">Blogs</a>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="page-link sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="socials hide-for-medium-down">
      <a href="https://github.com/eslawski" class="btn-social">
        <i class="fa fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/evan-slawski-1179a77a/" class="btn-social">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>

    {% include mobile_toggle_menu.html %}

  </div>

</div>
