html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
}

p {
  font-weight: 400;
  line-height: 1.6;
  color: #6C7A89;
}

/**
 * Main content container
 */
.content {
  margin-left: $sidebar-width;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
  }
}



.hide-for-medium-down {
  @media only screen and (max-width: 1024px) {
    display: none !important;
  }
}

.hide-for-medium-up {
  @media only screen and (min-width: 1024px) {
    display: none !important;
  }
}


.page {
  padding: 40px 60px 60px;

  @media only screen and (max-width: 768px) {
    padding: 40px 15px 60px;
  }

  .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.25em;
      align-self: start;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .page-heading {
    font-size: 2em;
    font-weight: bold;
    color: #000000;

    @media only screen and (max-width: 768px) {
      font-size: 1.25em;
    }
  }
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #42a9ef ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  content: "\201C";
  color: #42a9ef;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}