/**
 * Post page
 */
.post {
  .page {
    background-color: #fff; // accomplished fixed hero image effect
  }

  .hero {
    position: relative;
    text-align: center;
    height: $desktop-hero-height;

    @media only screen and (max-width: 1024px) {
      height: $mobile-hero-height;
    }

    .placeholder-image {
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100vw - $sidebar-width;
      height: $desktop-hero-height;
      background-size: cover !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-position: center;

      @media only screen and (max-width: 1024px) {
        width: 100vw;
      }
    }

    .hero-overlay {
      letter-spacing: 2px;
      color: #fff;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom,rgba(22,27,33,.3) 0,rgba(22,27,33,.3) 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .post-number {
      border-bottom: 2px solid #fff;
      font-size: 2.5em;
      font-weight: 900;
    }

    .post-title {
      font-size: 3em;

      @media only screen and (max-width: 768px) {
        font-size: 2em;
      }
    }
  }

  .additional-images-title {
    padding-left: 10px;
    font-size: 1.5rem;
    margin-top: 0;
  }

  .additional-images {
    width: 100%;
  }

  .additional-images img {
    /* Just in case there are inline attributes */
    max-width: 100% !important;
    vertical-align: top;
  }
}

.grid-sizer {
  width: calc(33.333% - 3px);
}

.grid-item {
  width: calc(33.333% - 3px);
  padding-bottom: 3px;

  &.span-2 {
    width: calc(66.666% - 3px);
  }

  &.span-3 {
    width: 100%;
  }
}

.additional-images-wrapper {
  background-color: #fff;
}

.blog-image {
  width: 100%;
  cursor: pointer;
}