/**
 * Post page
 */
.post {
  .page {
    background-color: #fff; // accomplished fixed hero image effect
  }

  .hero {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    height: $desktop-hero-height;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 1024px) {
      height: $mobile-hero-height;
    }

    .placeholder-image {
      position: fixed;
      z-index: -1;
      top: 0;
      width: 100vw - $sidebar-width;
      height: $desktop-hero-height;
      background-size: cover !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-position: center;

      @media only screen and (max-width: 1024px) {
        width: 100vw;
      }
    }

    .post-number {
      border-bottom: 2px solid #fff;
      font-size: 2.5em;
      font-weight: 900;
    }

    .post-title {
      font-size: 3em;

      @media only screen and (max-width: 768px) {
        font-size: 2em;
      }
    }
  }

  .post-image {
    width: 300px;
    height: 225px;
    background-size: cover;
  }

  .blog-image {
    cursor: pointer;
  }

  .additional-images-title {
    padding-left: 10px;
  }

  .additional-images {
    line-height: 1;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    grid-gap: 3px 3px;

    @media only screen and (max-width: 768px){
      margin: 0 -15px;
    }
  }

  .additional-images img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
}
