---
layout: default
---

<div class="home">
    {%- if site.posts.size > 0 -%}
    <div class="post-list">
        {%- for post in site.posts -%}
            {% if site.is_debug == false and post.debug == true %}
                {% continue %}
            {% endif %}

            {% assign entry_image_path = site.images_directory | append: post.number | append: "/" | append: post.entry_image %}

        <div class="post-entry-image">
        <a class="page-link progressive-loader"
                   href="{{ post.url | relative_url }}"
                   data-high-res-image-path="{{entry_image_path}}">
                <img class="small-image loaded" src="{{post.thumbnail}}" />
            </a>
            <div class="post-entry-overlay">
                <div class="post-entry-text">
                    <div class="date">{{ post.date | date_to_string }}</div>
                    <div class="title">{{post.title}}</div>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
    {%- endif -%}

</div>