---
layout: default
---

<div id="image-modal">
    <img class="modal-image"/>
    <div class="modal-caption"></div>
    <div class="close-modal"><i class="fa fa-times"></i></div>
</div>

<div class="post">
  {% assign hero_image_path = site.images_directory | append: page.number |append: "/" | append: page.hero_image %}

  <div class="hero">
      <div class="progressive-background-loader"
           data-high-res-image-path="{{hero_image_path}}">
          <div class="small-background loaded" style="background-image: url({{page.thumbnail}})"></div>
      </div>
    <div class="hero-overlay">
      <span class="post-number">{{page.number}}</span>
      <h1 class="post-title">{{page.title}}</h1>
    </div>
  </div>
  <div class="page">
    <span class="page-heading">{{ page.date | date_to_string }}</span>
    <div class="page-body">
      {{ content }}
    </div>

      {%- if page.additional_images -%}
      <h1 class="additional-images-title">Additional Images</h1>
      <div class="additional-images">
          {%- for image in page.additional_images -%}
          {% assign image_path = site.images_directory | append: page.number |append: "/low_res/" | append: image[0] %}
          <div class="image-wrap {% if image[0] contains 'pano' %} panoramic {% endif %}">
              <img class="blog-image"
                   data-src="{{image_path}}"
                   data-caption="{{image[1]}}">
          </div>
          {%- endfor -%}
      </div>
      {%- endif -%}
  </div>

</div>