---
layout: default
---


<div class="post">
  {% assign hero_image_path = site.images_directory | append: page.number |append: "/" | append: page.hero_image %}

  <div class="hero">
      <div class="page-link progressive-loader fixed"
           data-high-res-image-path="{{hero_image_path}} ">
          <img class="small-image loaded force-hero-cover" src="{{page.thumbnail}}" />
      </div>

    <div class="hero-overlay">
      <span class="post-number">{{page.number}}</span>
      <h1 class="post-title">{{page.title}}</h1>
    </div>
  </div>
  <div class="page">
    <span class="page-heading">{{ page.date | date_to_string }}</span>
    <div class="page-body">
      {{ content }}
    </div>

  </div>

    {%- if page.blog_images -%}
        <div class="additional-images-wrapper">
            <h1 class="additional-images-title">Additional Images</h1>
            <div class="additional-images grid">
                <div class="grid-sizer"></div>
                {%- for image in page.blog_images -%}
                    {% assign image_details = image[1] %}
                    {% if image_details.additional == true %}
                        {% assign image_name = image[0] %}
                        <div class="image-wrap grid-item{% if image_details.span %} span-{{image_details.span}} {% endif %}">
                            {% include blog_image.html image_name=image_name%}
                        </div>
                    {% endif %}
                {%- endfor -%}
            </div>
        </div>
    {%- endif -%}

</div>