---
layout: default
---

<div id="image-modal">
    <img class="modal-image"/>
    <div class="modal-caption"></div>
    <div class="close-modal"><i class="fa fa-times"></i></div>
</div>

<div class="post">
  {% assign hero_image_path = site.images_directory | append: page.number |append: "/" | append: page.hero_image %}

  <div class="hero">
      <div class="page-link progressive-loader fixed"
           data-high-res-image-path="{{hero_image_path}} ">
          <img class="small-image loaded force-hero-cover" src="{{page.thumbnail}}" />
      </div>

    <div class="hero-overlay">
      <span class="post-number">{{page.number}}</span>
      <h1 class="post-title">{{page.title}}</h1>
    </div>
  </div>
  <div class="page">
    <span class="page-heading">{{ page.date | date_to_string }}</span>
    <div class="page-body">
      {{ content }}
    </div>


  </div>

</div>